@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --serif: "Crimson Text", serif;
    --sans: "Poppins", sans-serif;
    --handwriting: "Dancing Script", cursive;
    --blue: rgb(44 57 91);
    --sand: rgb(235 230 219);
    --hover: rgb(100, 113, 147);
}
p{
    font-size: 21px;
}
h3{
    font-family: var(--serif);
}
h4{
    padding: 1rem 0;
}
header{
    width: 100vw;
    height: 15vh;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: linear-gradient(var(--blue), var(--sand));

    position: fixed;
    top: 0;
}
header a{
    text-decoration: none;
}
.logo{
    font-family: var(--handwriting);
    font-size: 50px;
    color: var(--blue);
    position: relative;
    margin-left: 1rem;
    animation: turner 10s linear infinite alternate-reverse paused ;
}
.turn_around{
    transform: scaleX(-1);
}
nav{
    font-family: var(--sans);
    margin-right: 1rem;
}
nav ul li{
    font-size: 2rem;
    display: inline-block;
    padding: 1.5rem;
}
nav ul li a{
    color: var(--blue);
    transition: 0.8s;
}
nav ul li a:hover,
.logo:hover{
    color: var(--hover);
    animation-play-state: running;
}

.lang_choice{
    position: absolute;
    top: 13vh;
    right: 0;
}
.lang_choice a img{
    width: 200px;
    margin: 2rem;
    transition: 0.5s;
}
.lang_choice a img:hover{
    border-radius: 30%;
}

main{
    background-color: var(--sand);
    color: var(--blue);
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 10vh;
}
section{
    padding-top: 2.5rem;
}
section h1{
    padding: 2rem 0;
}
article{
    margin-bottom: 2rem;
}
iframe{
    margin: 1rem;
    box-shadow: 5px 5px 5px 6px var(--hover);
    border-radius: 20px;
    margin-bottom: 3rem;
}
.slide_flex{
    display: flex;
}
.slider{
    margin-left: 12%;
}
.slider img{
    border-radius: 30px;
    box-shadow: 5px 5px 5px 6px var(--hover);
}
.article_top{
    text-decoration: underline;
    font-size: 25px;
}
ol{
    font-size: 20px;
}
.events_entry,
.food_n_drink_entry{
    height: 350px;
    width: 769px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 6px var(--hover);
    margin: 0 auto;
}
.events_entry{
    background: url(./images/event_entry.jpeg) no-repeat center;


}
.food_n_drink_entry{
    background: url(./images/f_n_d_entry.jpeg) no-repeat center;
}
footer{
    background: linear-gradient(var(--sand), var(--blue));
}

/* Tabellenstyle */
table{
    font-family: var(--handwriting);
    font-size: 1.5rem;
    font-weight: 800;
    border: 2px solid black;
    background-color: aliceblue;
    /* Zum entfernen des Platzes zwischen den Zellen */
    border-collapse: collapse;
    /* optional */
    box-shadow: 5px 5px 5px black;
}

td, th{
    border: 2px solid black;
    padding: 25px 55px;
    text-align: left;
}
th{
    background-color: var(--blue);
    color: aliceblue;
}

tr:nth-child(even){
    background-color: var(--hover);
    color: aliceblue;
}
tfoot tr td{
    text-align: center;
}

/* Animationen */
@keyframes turner{
    0%{
        transform: scaleX(0)
    }
    25%{
        transform: scaleX(-0.5)
    }
    50%{
        transform: scaleX(-1)
    }
    75%{
        transform: scaleX(0.5)
    }
    100%{
        transform: scaleX(1)
    }
}

.test{
    background: linear-gradient(to right, var(--sand), var(--hover), var(--sand));
    padding: 2rem;
    text-align: center;
    color: aliceblue;
    text-shadow: 3px 3px 3px blueviolet;
    text-decoration: underline;
    font-family: var(--handwriting);
}
.test div img{
    border-radius: 30px;
    box-shadow: 5px 5px 5px 6px var(--hover);
    display: block;
    margin: 0 auto;
    border: 3px solid blueviolet;
}